.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  /* vertically center now */
  height: 100vh;
  gap: 1rem;
}

.page > div {
  text-align: center;
}

.title {
  font-size: 4rem;
}
