.gamePage {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 100vh;

  --albumImageRadius: 1rem;
  --endGamePadding: 0.8rem;
  --gamePageWinBorderSize: 0.8rem;
}

.gameplayArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.modal {
  color: black;
}

.songTitle {
  text-align: left;
  align-self: flex-start;
  font-weight: bold;
  font-size: 1.6rem;
}

.albumCoverArea {
  position: relative;
}

.albumCover {
  position: relative;
  width: 400px;
  height: 400px;
}

.albumCover > img {
  /* make image unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: var(--albumImageRadius);
}

.mainButtonArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.gameButtonOrder1 {
  order: 1;
}

.gameButtonOrder2 {
  order: 2;
}

.gameButtonOrder3 {
  order: 3;
}

.gamePageWin {
  padding: var(--endGamePadding);
  border: var(--gamePageWinBorderSize) solid;
  border-radius: calc(var(--albumImageRadius) + var(--endGamePadding));
}

.gamePageLose {
  padding: var(--endGamePadding);
  border-radius: calc(var(--albumImageRadius) + var(--endGamePadding));
  border: var(--gamePageWinBorderSize) solid;
}

.flashOverlay {
  position: fixed; /* cover viewport */
  inset: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 202;
}

/* Medium phones / large phones (portrait) */
@media (max-width: 767px) {
  .gamePage {
    padding-left: 4%;
    padding-right: 4%;
    width: 100vw;
    padding-top: 0;
    margin: auto;

    --gamePageWinBorderSize: 0.4rem;
  }

  .albumCover {
    width: 90vw;
    height: 90vw;
  }

  .gameplayArea {
    width: auto;
    max-width: 90%;
  }

  .gameButtonLabelSmall {
    text-wrap: pretty;
  }

  .mainButtonArea {
    flex-direction: column;
  }
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
}
