.gamePage {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 100vh;
  position: relative;

  --endGamePadding: 0.8rem;
  --gamePageWinBorderSize: 0.8rem;

  /* these variables are duplicated in GameAlbumArea.module.css */
  --albumImageRadius: 1rem;
  --allBorderTransitions: border-color 0.2s ease-in-out,
    border-width 0.2s ease-in-out;
}

.gameplayArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
  transition: var(--allBorderTransitions);
}

.modal {
  color: black;
}

.songTitle {
  text-align: left;
  align-self: flex-start;
  font-weight: bold;
  font-size: 1.6rem;
}

.gameButtonOrder1 {
  order: 1;
}

.gameButtonOrder2 {
  order: 2;
}

.gameButtonOrder3 {
  order: 3;
}

.gamePageWin {
  padding: var(--endGamePadding);
  border: var(--gamePageWinBorderSize) solid;
  border-radius: calc(var(--albumImageRadius) + var(--endGamePadding));
}

.gamePageLose {
  padding: var(--endGamePadding);
  border-radius: calc(var(--albumImageRadius) + var(--endGamePadding));
  border: var(--gamePageWinBorderSize) solid;
}

.flashOverlay {
  position: fixed; /* cover viewport */
  inset: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 202;
}

.titleContainer {
  position: relative; /* makes absolute children relative to this */
  display: inline-block; /* shrink-wraps content to title size */
  text-align: center; /* optional: centers inline children */
  margin: 0 auto; /* centers container in page */
}

.legendText {
  position: absolute;
  top: 2.4rem;
  left: 12rem;
  transform: rotate(-15deg);
  font-size: 2.2em;
  z-index: 1;
  pointer-events: none;
}

/* Medium phones / large phones (portrait) */
@media (max-width: 767px) {
  .gamePage {
    padding-left: 8%;
    padding-right: 8%;
    width: 100vw;
    padding-top: 0;
    margin: auto;

    --gamePageWinBorderSize: 0.4rem;
  }

  .albumCover {
    width: 75vw;
    height: 75vw;
  }

  .gameplayArea {
    width: auto;
    max-width: 90%;
  }
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
}
