.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  /* vertically center now */
  height: 100vh;
  gap: 1rem;
}

.page > div {
  text-align: center;
}

.responsiveLoader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

/* Medium phones / large phones (portrait) */
@media (max-width: 767px) {
  .page {
    margin-left: 8%;
    margin-right: 8%;
  }

  .responsiveLoader {
    flex-direction: column-reverse;
  }
}

/* Tablets (portrait) */
@media (min-width: 768px) and (max-width: 1023px) {
}
