.guessOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-start;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.2rem solid black;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.guessOption:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.guessOption.disabled {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.6);
}

.guessOption.disabled:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.6);
}

/* disable the hover effect if disabled class is present */
.guessOption.disabled:hover {
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.guessOption > .songTitle {
  flex: 8;
}

.titleDisabled {
  text-decoration: line-through;
}

.guessOption > img {
  flex: 4;
  /* TODO: Fix me since we have a border within a border */
  border-radius: 1rem;
}

.guessOption > .chevron {
  flex: 1;
}
