.guessHistory {
  position: absolute;
  height: 100%;
  width: 100%;
  /* Center the overlay */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
  padding: 0.8rem;
}

.guess {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  align-items: center;
  gap: 0.5rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.guessIcon {
  justify-self: center;
}

/* Medium phones / large phones (portrait) */
@media (max-width: 767px) {
  .guessHistory {
    gap: 0.4rem;
  }
}
